<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ title }} </title>
    {{> styles }}
    <style>
		body {
			background-color: #EEE;
		}
	
        #profile-img {
            height: 180px;
        }

        .h-80 {
            height: 80% !important;
            padding: 100px;
        }
    </style>
</head>

<body>

{{> navbar}}

<div class="container h-80">
<div class="row align-items-center h-100">
    <div class="col-3 mx-auto">
        <div class="text-center">
            <img id="profile-img" class="rounded-circle profile-img-card" src="https://avatars0.githubusercontent.com/u/21092213?s=460&v=4" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="POST" action="/login">                            
                <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
</div>

{{> scripts }}

{{> footer }}

</body>
</html>