<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ name }} </title>
    {{> styles }}
</head>

<body>

{{> navbar }}

<h1>{{section}}</h1>

{{> scripts }}

{{> footer }}

</body>
</html>