<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ title }} </title>
    {{> styles }}
</head>

<body>

    {{> navbar }}

    {{> scripts }}

    {{> footer }}

</body>

</html>