<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <title>Daniel Harton | {{ name }} </title>
</head>

<body>
