<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <title>Daniel Harton | {{ section }} </title>
</head>

<body>
