<nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">
		{{#each navItems}}
			{{#unless this.hide}}
			<li class="tabs__item">
				<a class="tabs__link" href="/{{#unless this.home}}{{this.ref}}{{/unless}}">{{this.name}} {{#if_eq this.ref ../current}}<span class="sr-only">(current)</span>{{/if_eq}}</a>
			</li>
			{{/unless}}
		{{/each}}
    </ul>
</nav>